
logger:
    file: /var/log/open5gs/amf.log

amf:
    sbi:
      - addr: {{ open5gs_cp_int }}
        port: 7777
    ngap:
      - addr: {{ open5gs_cp_int }}
    guami:
      - plmn_id:
          mcc: {{ network.mcc}}
          mnc: {{ network.mnc }}
        amf_id:
          region: 2
          set: 1
    tai:
      - plmn_id:
          mcc: {{ network.mcc}}
          mnc: {{ network.mnc}}
        tac: {{ network.tac }}
    plmn_support:
      - plmn_id:
          mcc: {{ network.mcc}}
          mnc: {{ network.mnc}}
        s_nssai:
          - sst: 1
    security:
        integrity_order : [ NIA2, NIA1, NIA0 ]
        ciphering_order : [ NEA0, NEA1, NEA2 ]
    network_name:
        full: Open5GS
    amf_name: open5gs-amf0

nrf:
    sbi:
      - addr:
          - 127.0.0.10
          - ::1
        port: 7777


parameter:

max:

pool:

sockopt:

sctp:

time:
