
logger:
    file: /var/log/open5gs/smf.log

smf:
    sbi:
      - addr: 127.0.0.4
        port: 7777
    pfcp:
      - addr: {{ open5gs_cp_int }}

    gtpc:
      - addr: 127.0.0.4
      - addr: ::1
    gtpu:
      - addr: 127.0.0.4
      - addr: ::1
    subnet:
      - addr: {{ upf1.tun_subnet }}
        dnn: internet
    dns:
      - 8.8.8.8
      - 8.8.4.4
      
    mtu: 1400
    freeDiameter: /etc/freeDiameter/smf.conf

nrf:
    sbi:
      - addr:
          - 127.0.0.10
          - ::1
        port: 7777


upf:
    pfcp:
      - addr: {{ open5gs_up1_int }}
        dnn: [internet]

parameter:

max:

pool:

time:
