mcc: '{{ network.mcc }}'
mnc: '{{ network.mnc }}'

nci: '{{ gnodeb.nci }}'
idLength: 32
tac: {{ network.tac }}

linkIp: {{ gnodeb1_int }}
ngapIp: {{ gnodeb1_int }}
gtpIp: {{ gnodeb1_int }}

# List of AMF address information
amfConfigs:
  - address: {{ open5gs_cp_int }}
    port: 38412

# List of supported S-NSSAIs by this gNB
slices:
  - sst: 1

# Indicates whether or not SCTP stream number errors should be ignored.
ignoreStreamIds: true
