#!/bin/bash

# eth=`ip route | grep default | grep -oP '(?<=dev )(.*)(?= proto)'`
ip netns delete {{ subscriber.name }} 2>/dev/null
ip link del vo-{{ subscriber.name }} 2>/dev/null
ip link del vi-{{ subscriber.name }} 2>/dev/null
ip netns add {{ subscriber.name }}
ip link add vo-{{ subscriber.name }} type veth peer name vi-{{ subscriber.name }}
ip link set vi-{{ subscriber.name }} netns {{ subscriber.name }}
ip addr add 172.31.{{ subscriber.id }}.2/30 dev vo-{{ subscriber.name }} 
ip link set vo-{{ subscriber.name }} up

for eth in `ip link  | grep -oP 'eth\d'`; do
    iptables -D FORWARD -i ${eth} -o vo-{{ subscriber.name }} -j ACCEPT 2>/dev/null
    iptables -D FORWARD -o ${eth} -i vo-{{ subscriber.name }} -j ACCEPT 2>/dev/null

    iptables -A FORWARD -i ${eth} -o vo-{{ subscriber.name }} -j ACCEPT 
    iptables -A FORWARD -o ${eth} -i vo-{{ subscriber.name }} -j ACCEPT 

    if [ `iptables -t nat -S | grep "\-A POSTROUTING \-o ${eth} \-j MASQUERADE" | wc -l` -eq 0 ]; then
        iptables -t nat -A POSTROUTING -o ${eth} -j MASQUERADE
    fi
done

for eth in `ip link  | grep -oP 'ens\d'`; do
    iptables -D FORWARD -i ${eth} -o vo-{{ subscriber.name }} -j ACCEPT 2>/dev/null
    iptables -D FORWARD -o ${eth} -i vo-{{ subscriber.name }} -j ACCEPT 2>/dev/null

    iptables -A FORWARD -i ${eth} -o vo-{{ subscriber.name }} -j ACCEPT 
    iptables -A FORWARD -o ${eth} -i vo-{{ subscriber.name }} -j ACCEPT 

    if [ `iptables -t nat -S | grep "\-A POSTROUTING \-o ${eth} \-j MASQUERADE" | wc -l` -eq 0 ]; then
        iptables -t nat -A POSTROUTING -o ${eth} -j MASQUERADE
    fi
done

cd /root/UERANSIM/
sysctl -w net.ipv4.ip_forward=1
ip netns exec {{ subscriber.name }} ip link set dev lo up 
ip netns exec {{ subscriber.name }} ip addr add 172.31.{{ subscriber.id }}.1/30 dev vi-{{ subscriber.name }}
ip netns exec {{ subscriber.name }} ip link set vi-{{ subscriber.name }} up 
ip netns exec {{ subscriber.name }} ip route add {{ gnodeb1_int }}/32 via 172.31.{{ subscriber.id }}.2
ip netns exec {{ subscriber.name }} build/nr-ue -c config/open5gs-{{ subscriber.name }}.yaml

