INSERT INTO `nds_trusted_domains` VALUES (1,'{{ network.sip_domain }}');
INSERT INTO `s_cscf` VALUES (1,'First and only S-CSCF','sip:scscf.{{ network.sip_domain }}:6060');
INSERT INTO `s_cscf_capabilities` VALUES (1,1,0),(2,1,1);