$ORIGIN {{ network.eps_domain }}.
$TTL 1W
@                       1D IN SOA       localhost. root.localhost. (
                                        1               ; serial
                                        3H              ; refresh
                                        15M             ; retry
                                        1W              ; expiry
                                        1D )            ; minimum

                        1D IN NS        epcns
epcns                   1D IN A         {{ kamailio }}
pcrf                    1D IN A         127.0.0.5
