//
// Do any local configuration here
//

// Consider adding the 1918 zones here, if they are not used in your
// organization
//include "/etc/bind/zones.rfc1918";

zone "{{ network.sip_domain }}" {
        type master;
        file "/etc/bind/{{ network.sip_domain }}";
};

zone "{{ network.eps_domain }}" {
        type master;
        file "/etc/bind/{{ network.eps_domain }}";
};
