# /etc/cloud/cloud.cfg.d/99-disable-network-config.cfg with the following:
# network: {config: disabled}
network:
    ethernets:
        {{ i }}:
            dhcp4: true
            match:
                macaddress: {{ m }}
            set-name: {{ i }}
            nameservers:
                search: [{{ network.sip_domain }},{{ network.eps_domain }}]
                addresses:
                      - {{ kamailio_int }}
    version: 2                      
