
logger:
    file: /var/log/open5gs/upf.log

upf:
    pfcp:
      - addr: {{ open5gs_up1_int }}
    gtpu:
      - addr: {{ open5gs_up1_int }}
    subnet:
      - addr: {{ upf1.tun_subnet }}
        dnn: internet
        dev: ogstun


smf:

parameter:

max:

pool:

time:
